.hero {
  padding: 120px 0;
  background: #ffffff;
}

.hero-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-left {
  flex: 1;
}

.tag {
  font-size: 12px;
  letter-spacing: 2px;
  color: #888;
}

.hero h1 {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.25;
  line-height: 1.1;
  margin: 20px 0;
  line-height: 1.1;
}

.hero p {
  font-size: 18px;
  color: #555;
  max-width: 500px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  background: #000;
  color: #fff;
  padding: 14px 28px;
  text-decoration: none;
  transition: 0.3s ease;
  border-radius: 5px;
}

.primary-btn:hover {
  transform: translateY(-3px);
}

.secondary-btn {
  border: 1px solid #000;
  padding: 14px 28px;
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
  border-radius: 5px;
}

.secondary-btn:hover {
  transform: translateY(-3px);
  background: #000;
  color: #fff;
}

.hero-right {
  flex: 1;
}

.mockup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.box {
  height: 200px;
  background: #f4f4f4;
  box-shadow: 0 15px 30px rgba(0,0,0,0.08);
  border-radius: 8px;
  transition: 0.3s ease;
  
}

.box:hover {
  transform: translateY(-5px);
}

.mob-home-box{
  display: none;
}

/* Mobile */

@media (max-width: 1000px) {
   .hero {
    padding: 100px 6%;
  }

  .mob-home-box{
    display:unset;
    height: 200px;
    background: #f4f4f4;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    border-radius: 8px;
    transition: 0.3s ease;
  }

  .hero-left h1 {
    font-size: 40px;
  }

  .hero-buttons {
    flex-direction: column;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    text-align: center;
  }

  .hero-right {
    display: none;
  }

  .grid-item.large {
    grid-column: span 1;
  }
}