body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f4f6f8;
  color: #111;
}


@keyframes pageFade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
